body {
            background: #38000A;
        }

        .user-panel {
            background: #9B1313;
            color: white;
        }

        .glass {
            background: #CD1C18;
            color: white;
        }

        input {
            background: white;
            color: black;
        }

        .user-item:hover {
            background: #FFA896;
            color: black;
        }