/* ===== Animated Gradient Background ===== */

body {
    background: linear-gradient(to right,
            #6b1d1d,
            #3a1a1a,
            #111111,
            #000000);

    color: white;
     background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    color: #d5d7db;
}

.bubbles {
    position: fixed;
    inset: 0;
    overflow: hidden;
    z-index: -1;
}

.bubble {
    position: absolute;
    bottom: -150px;
    border-radius: 9999px;

    background: radial-gradient(circle,
            rgba(255, 0, 127, 0.6),
            rgba(239, 68, 68, 0.3));

    box-shadow:
        0 0 20px rgba(255, 0, 127, 0.6),
        0 0 40px rgba(239, 68, 68, 0.5);

    animation: rise linear infinite;
}

@keyframes rise {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-110vh);
        opacity: 0;
    }
}

/* ================= GLOW EFFECT ================= */

.glow {
    box-shadow:
        0 0 15px rgba(255, 0, 127, 0.5),
        0 0 30px rgba(239, 68, 68, 0.4);
}


.bar {
    width: 28px;
    height: 3px;
    background: white;
    margin: 4px 0;
    border-radius: 999px;
    transition: all 0.3s ease;
}

/* Animate to X */

.menu-open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.menu-open .bar:nth-child(2) {
    opacity: 0;
}

.menu-open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

nav a {
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background: #ec4899;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}